# Build artifacts
bin/
obj/
*.user
*.suo
*.userprefs
*.cache
*.log
*.tmp
*.DS_Store
.vs/
.idea/
*.zip
# Rider/VSCode
.vscode/
*.code-workspace
# OS
Thumbs.db
# NuGet
packages/
*.nupkg
# Images generated during tests
out/
